/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root {
    --shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
        0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
    --shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
        0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
    --shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
        0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);
}
html {
    height: 100%;
}
body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 65ch;
    text-align: left;
    background-color: #ececec;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
    background-image: url(/background2.avif);
    background-size: contain;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #222;
}
a {
    color: #3273dc;
}
nav a {
    margin-right: 10px;
}
textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}
content {
    line-height: 1.6;
}
table {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
code {
    padding: 2px 5px;
    background-color: #f2f2f2;
}
pre {
    padding: 1rem;
}
pre > code {
    all: unset;
}
blockquote {
    border: 1px solid #999;
    color: #222;
    padding: 2px 0px 2px 20px;
    margin: 0px;
    font-style: italic;
}
* {
    box-sizing: border-box;
}
