---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="Sam's Blog" description="Sam's Blog" heroImage="/sam.jpg">
    <p>哈囉，我是Sam，是一名前端工程師，目前有4年前端開發經驗。</p>
    <p>目前在酷寶資訊擔任前端Leader，以下是關於我的工作簡介:</p>
    <ul>
        <li>從無到有開發網頁前後台</li>
        <li>針對產品重複出現的Bug提出可行性的解決方案</li>
        <li>規劃專案架構，邏輯與UI畫面關注點分離</li>
        <li>能迅速了解開發需求，進行項目規劃和實施</li>
        <li>重視程式碼品質，對程式碼進行品質控管，以確保項目能成功完成</li>
        <li>幫助公司規劃上版流程及測試</li>
    </ul>
</Layout>
